html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .esri-popup--is-docked-top-right .esri-popup__main-container {
        max-height: 100%;
      }

      #appContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      #viewDiv {
        flex: 1;
        width: 100%;
      }

      .container {
        display: flex;
        flex: 0.6;
        width: 100%;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 22px;
        vertical-align: middle;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #2196f3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }

      /* Rounded sliders */

      .slider.round {
        border-radius: 20px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .labelText {
        padding-left: 5px;
        font-size: 15px;
      }

      #mainDiv {
        padding: 8px;
      }